<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Knitting Bot</title>
    </head>
    <body>
        <div id="header">
            <h1>Emilys strikkeapp</h1>
        </div>
        <div id="formContainer">
            <form>
                <div>
                    <label for="from">Fra</label>
                    <input type="text" id="from" value="20">
                </div>
                <div>
                    <label for="to">Til</label>
                    <input type="text" id="to" value="17">
                </div>
                <button type="button">Beregn</button>
            </form>
        </div>
        <div id="resultContainer">
            <p>Du må redusere 6 masker</p>
            <form>
                <div>
                    <input type="checkbox" id="step-1">
                    <label for="step-1">Strikk 3</label>
                </div>

                <div>
                    <input type="checkbox" id="step-2">
                    <label for="step-2">2 sammen</label>
                </div>

                <div>
                    <input type="checkbox" id="step-3">
                    <label for="step-3">Strikk 3</label>
                </div>
            </form>
        </div>
    </body>
<footer>
    <
</footer>
</html>